name: "Lint Commits"

on: [pull_request]

jobs:
  main:
    name: Validate Commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      # Esta action valida se o título do PR e os commits seguem o padrão
      # ex: "feat: add wallet domain", "fix: resolve race condition"
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
